* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f2ede6;
}

.articles-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.articles-card {
    background-color: #e7e3de;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Add Article */

.add-article-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C5D0DA;
}

.add-article-container form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
}

.add-article>h2 {
    margin-bottom: 1em;
}

.add-article-container form>* {
    min-height: 28px;
    padding: 5px;
}

/* View Article */

.view-article-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C5D0DA;
}

.view-article div {
    background: #dad5cf;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: max-content;
    padding: 1em;
    border-radius: 24px;
}

.view-article>h2 {
    margin-bottom: 1em;
    text-align: center;
}