<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="add-article-container">
        <div class="add-article">
            <h2>Edit Article</h2>
            <div>
                <form action="/articles/edit/<%= article.id %>" method="post">
                    <input type="text" name="title" placeholder="Title" value="<%= article.title %>">
                    <textarea name="content" placeholder="Body" rows="5"><%= article.text %></textarea>
                    <input type="author" name="author" placeholder="Author" value="<%= article.author %>">
                    <button type="submit">Edit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>